* {
    margin: 0;
    padding: 0;

}

header {
    height: 80px;
    background-color: blue;

}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    margin: 20px 10px;
    list-style: none;
    text-align: center;

}

header ul li a {
    color: white;
    text-decoration: none;

}

header ul li a:hover {
    cursor: pointer;
}

.txt-center {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section img {
    border-radius: 50%;
}

.Txt-deco {
    margin-top: 15px;
    font-size: 20px;
}


.ta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    height: 50px;
    margin-bottom: 20px;

}

table thead tr {
    height: 70px;
    width: 50px;
    background-color: rgb(80, 227, 144);
    color: white;
}

table tbody tr td {
    width: 200px;
}

.card {
    height: 400px;
    background-color: rgba(197, 230, 115, 0.604);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.de-card1 {
    height: 70px;
    width: 300px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.675);
}

.de-card2 {
    height: 70px;
    width: 300px;
    text-align: center;
    margin: 10px 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.675);
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}